@media screen and (min-width:1024px){
    body{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container{
        margin: 0;
        max-width: 700px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section1, .section2, .section3{
        padding: 30px 0 0 30px;
    }
    .section1{
        grid-column-start: 1;
        grid-column-end: 3;
        background-color:white;
        justify-content: space-evenly;
        &-title{
            font-size: 2rem;
        }
         &-title2{
            font-size: 1.5rem;
        }
        &-paragraph{
            font-size: 1.2rem;
        }
    }
}
.section2{
    padding-top: 30px;
    padding-right: 30px;
    &-title{    
        color:$lightGray;
        font-size: 1.5rem;
        margin-top: 0;
    }
    span{
        font-size: 2.3rem;
        color:$lightGray;
        font-weight: 700;
    }
    &-price{
        padding-left: 10px;
        font-weight: 400;
        color: hsl(217, 41%, 77%);
        font-size: 1.2rem;
    }
    &-paragraph{
        font-size: 1.1rem;
    }
}




.section3{
    padding-top: 30px;
    &-title{
        font-size: 1.5rem;
        margin-top:0;
    }
    &-list{
        font-size: 1rem;
    }
}